@import url('./fonts.scss');
@import './variables.scss';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
  }

*{
  margin: 0;
  padding: 0;
  list-style: none;
  a{
    text-decoration: none;
    color: $textColor;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.active{
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      position: relative;
      
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $primaryColor;
        border-color: 5px;
        width: 24px;
        height: 4px;
      }
    }
  }
}
  
.body{
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 360px 1fr;
    padding-bottom: 100px;

    .btn{
      padding: 14px 24px;
      border-radius: 42px;
      border: none;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      cursor: pointer;

      &.blue{
        background-color: $primaryColor;
        color: white;
      }

      &.orange{
        background-color: $red;
        color: white;
      }
      &.outline{
        background-color: #fff;
        border: 1px solid #E5E5F3;
        font-weight: 400;
        color: $textColor;
      }
    }

    .sidebar{
      min-height: 100vh;
      border-right: $border;
      height: fit-content;
      .logo{
        height: 132px;
        display: flex;
        padding-inline: 1rem;
        align-items: center;
        border-bottom: $border;
        margin-inline: 50px ;
      }
      .content{
        padding-top: 64px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding-inline: 50px;
        .balanceBox{
          .numbers{
            display: flex;
            gap: 10px;
            
            h2{
              font-size: 24px;
              color: $textColor
            }
        
            .textIcon{
              display: flex;
              justify-content: space-between;
              // align-items: center;
              gap: 40px;
            }
          }

          .buttons{
            display: flex;
            justify-content: center;
            gap: 5px;
            margin-top: 24px;
          }
          .warningText{
            display: flex;
            align-items: start;
            gap: 10px;
            padding-top: 40px;
            padding-bottom: 40px;
            border-bottom: $border;

            p{
              color: $textColor;
              opacity: 0.5;
            }
          }
          .saudiIllustration{

            img{
              width: 174px;
            }
            h3{
              margin-block: 50px;
              color: $textColor
            }
            p{
              font-size: 14px;
              color: $textColor;
              opacity: 0.5;
            }
            padding-block: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
        }
      }
    }


    .page{
      .header{
        height: 132px;
        border-bottom: $border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: $border;
        margin-inline: 40px;
        padding-inline: 36px;


        .links{
          display: flex;
          gap: 56px;
          height: 100%;
        }
        .actions{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          button{
            border: none;
            background-color: white;
          }

          .language{
            color: $textColor;
            opacity: 0.5;
            cursor: pointer;
            font-size: 17px;
          }
          .notifications{
            position: relative;
            cursor: pointer;
            .count{
              position: absolute;
              bottom: -8px;
              right: -8px;
              border: 2px solid white;
              background-color: $primaryColor;
              color: white;
              width: 16px;
              aspect-ratio: 1/1;
              border-radius: 50%;
              font-size: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .avatar{
            cursor: pointer;
          }
        }
      }
      .content{
        min-height: calc(100vh - 132px);
        padding-top: 56px;
        margin-inline: 64px;

        .autoInvestment{
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $textColor;

          h1{
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
          }
          .activate{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            span{
              opacity: 0.5; 
            }
            .switch {
              display: inline-block;
              height:24px;
              position: relative;
              width:40px;
  
              input {
                display: none;
              }
              .slider {
                background-color: #ccc;
                bottom: 0;
                cursor: pointer;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: .4s;
              }
              .slider:before {
                background-color: #fff;
                bottom: 1px;
                content: "";
                height: 22px;
                left: 1px;
                position: absolute;
                transition: 0.4s;
                width: 21px;
              }
              input:checked + .slider {
                background-color: $green;
              }
              input:checked + .slider:before {
                transform: translateX(17px);
              }
              .slider.round {
                border-radius: 34px;
              }
              .slider.round:before {
                border-radius: 50%;
              }
            }
          }
          
          

        }

        .card{
          border-radius: 16px;
          border: 1px solid #E5E5F3;
          padding: 32px 40px;
          margin-top: 32px;
        }

        .card-1{
          display: flex;
          @media (max-width: 991px) {
            flex-wrap: wrap;
            justify-content: center;
          }
          // margin-bottom: 32px;
          .conservative{
            border-radius: 16px;
            border: 1px solid $primaryColor;
            background: var(--gradient, radial-gradient(1191.32% 115.38% at 96.39% 8.75%, #2DA5FE 0%, #218AF5 100%));
            box-shadow: 0px 32px 26px -20px rgba(35, 120, 207, 0.25);
            height: 108px;
            width: 132px;
            padding: 32px;
            color: white;
            h2{
              font-size: 17px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
            }
            h3{
              margin-top: 30px;
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: 40px;
            }
            h4{
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px; /* 142.857% */
              letter-spacing: 0.21px;
            }
          }
          .cardContent{
            flex-grow: 1;
            padding-top: 25px;
            padding-left: 64px;

            .top{
              display: flex;  
              justify-content: space-between;
              max-width: 480px;
              .item{
                display: flex;
                flex-direction: column;
                height: fit-content;
                
                h3{
                  font-size: 17px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 24px;
                  color: $textColor;
                  &.active{
                    color: $green
                  }
                }
                p{
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                  letter-spacing: 0.21px;
                  opacity: 0.5;
                  color: $textColor;
                }
    
              }
            }
            .bottom{
              padding-top: 40px;
              padding-right: 24px;
              display: flex;
              flex-grow: 1;
              align-items: center;
              justify-content: space-between;
              .note{
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.21px;
                opacity: 0.5;
                color: $textColor;
              }
              .buttons{
                display: flex;
                gap: 12px
              }
            }
          }
        }
        .stats{
          display: grid;
          grid-template-columns: calc(50% - 16px) calc(50% - 16px);
          gap: 32px;

          @media (max-width: 991px) {
            display: flex;
            flex-wrap: wrap;
            .card{
              width: 100%;
            }
          }
          .card{
            padding: 40px 48px 28px;
            .cardTitle{
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 32px;
              max-width: 297px;
              img{
                margin-left: 8px;
                cursor: pointer;
              }
            }
          }

          .apexcharts-legend-series{
            display: flex;
            margin-bottom: 10px !important;
          }
          .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
            justify-content: center;
          }
        }
      }
    }
}



