@font-face {
    font-family: 'Proximia Nova';
    src: url('../assets/fonts/Proxima\ Nova\ Font.otf') format('opentype');  // Adjust the path accordingly
  }
  
  
  
  body {
    font-family: 'Proximia Nova', sans-serif;  // Use the font family in your styles
  }
  